body {
    margin: 0;
    font-family: "Epilogue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue'), url(assets/fonts/Epilogue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue'), url(assets/fonts/Epilogue-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue'), url(assets/fonts/Epilogue-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue'), url(assets/fonts/Epilogue-Bold.ttf) format('truetype');
    font-weight: 700;
}

:root {
    --toastify-color-info:  #C1BFFF;
    --toastify-color-success: #A5FFC9;
    --toastify-color-warning: #FFDEA6;
    --toastify-color-error: #FF938C;
}

.Toastify__toast{
    padding: 0 24px;
    min-height: 56px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: none;
    display: flex;
    align-items: center;
}

.Toastify__toast-body{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
}

.Toastify__toast-icon{
    display: none;
}

.Toastify__close-button{
    position: unset;
}
