body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #0B0B0D;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex: 1 1 auto;
}

:root{
    --rsbs-backdrop-bg: rgba(11, 11, 13, 0.64);
    --rsbs-bg: #2A2A32;
    --rsbs-handle-bg: #A2A2C0;
    --rsbs-max-w: auto;
    --rsbs-overlay-rounded: 16px;
    --rsbs-ml: 0;
    --rsbs-mr: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/Inter-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

