body {
    margin: 0;
    font-family: "Epilogue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue'), url(assets/fonts/Epilogue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue'), url(assets/fonts/Epilogue-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue'), url(assets/fonts/Epilogue-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Epilogue';
    src: local('Epilogue'), url(assets/fonts/Epilogue-Bold.ttf) format('truetype');
    font-weight: 700;
}

